*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #212121; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /*originally #555*/
    background: #2aa670; 
  }

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #212121;
}

.login-box{
    position: relative;
    top: 20%;
    left: 30%;
    width: 45%;
    height: 55%;
    background-color: #232323;
}

.login-button{
    position: relative;
    width: 95%;
    height: 10%;
    left: 3%;
    top: 70%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #232323;
    border: none;
    background-image: url(https://cdn.discordapp.com/attachments/987916669009674280/1048467211242709013/aa.png);
}